# Python virtual environment
myenv/
.env

# Python cache
__pycache__/
*.pyc

# Model weights
*.pth
*.pt
*.h5

# Ignore all data files within the configs and models folders
configs/*.json
models/*.pth

touch configs/.gitkeep
touch models/.gitkeep

# Sensitive config files
config.json

# IDE and OS files
.vscode/
.idea/
.DS_Store